<footer class="footer">
    <div class="footer__container flex w-full">
        <div class="footer__bg"></div>
        <div class="footer__left w-6">
            <h2 class="font-semibold">Movie <span
                    class="font-semibold  footer__contrast-span px-2 border-round-md">CO</span>
            </h2>
            <p>Wishing you had happy experience!</p>
        </div>
        <div class="footer__right w-6">
            <h4>Contact Us</h4>
            <ul>
                <li><i class="pi pi-github"></i><a href="https://github.com/AhmedGamal0100">Github</a></li>
                <li><i class="pi pi-linkedin"></i><a href="https://www.linkedin.com/in/ahmedgamal1247200">Linkedin</a>
                </li>
                <li><i class="pi pi-phone"></i><a>Whatsapp</a></li>
            </ul>
        </div>
    </div>
</footer>