<nav class="horizontal-nav border-300 border-bottom-1">
    <div class="horizontal-nav__container">
        <p-button (click)="navToggle.setVisibility()" icon="pi pi-bars" />
        <p-floatlabel variant="on" class="horizontal-nav__search w-6">
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input pInputText id="on_label" [(ngModel)]="searchValue" autocomplete="off" class="w-full" />
            </p-iconfield>
            <label for="on_label">Search movie.</label>
        </p-floatlabel>
        <div class="horizontal-nav__btns">
            <!-- <button (click)="push()">X</button> -->
            <p-toggleButton [(ngModel)]="mode" onIcon="pi pi-sun" offIcon="pi pi-moon" onLabel="Light" offLabel="Dark"
                (onChange)="toggleDarkMode()">
                ></p-toggleButton>
            <p-toggleswitch [(ngModel)]="isRtl ">
                <ng-template #handle let-checked="checked">
                    @if (isRtl) {R} @else {L}
                </ng-template>
            </p-toggleswitch>
            <div class="horizontal-nav__notification">
                @if (notificationLength()> 0) {
                <span class="horizontal-nav__badge border-3 border-50 bg-red-500">
                </span>
                }
                <p-button type="button" [icon]="'pi pi-bell'" (onClick)="toggle($event)" />
                <p-popover #op>
                    <div class="w-20rem">
                        <span class="font-medium block mb-2">Notification List:</span>
                        <hr>
                        <ul class="list-none-0 m-0 flex flex-column">
                            @if (notificationsList().length !> 0){
                            @for (message of notificationsList(); track $index; let i = $index) {
                            <li class="flex w-full surface-overlay p-2 border-1 border-round-md border-200 mt-2">
                                <p class="white-space-normal">
                                    <b>-</b> {{message}}
                                </p>
                            </li>
                            }
                            } @else {
                            <p class="border-1 border-round-md border-200 mt-2 w-full p-2"> <b>-</b> No notification
                                yet!</p>
                            }
                        </ul>
                    </div>
                </p-popover>
            </div>
        </div>
    </div>
</nav>