    .horizontal-nav {
        padding-block: 1rem;
    }

    .horizontal-nav__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 97%;
    }

    .horizontal-nav__btns {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .horizontal-nav__notification {
        position: relative;

        .horizontal-nav__badge {
            position: absolute;
            top: -0.5rem;
            right: -0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            z-index: 1;
            vertical-align: middle;
            text-align: center;
        }

    }

    .horizontal-nav__lang:hover {
        background-color: var(--p-zinc-200);
        border-radius: 0.25rem;
        color: var(--p-zinc-900);
    }